body {
background:#9BAEA5;
font-family: Helvetica; 
height: 100%;
}

.wrapper {
width: 800px;
margin: 30px auto;
color:#fff;
text-align:center;
}

h1, h2, h3 {
  font-family: Bahnschrift;
  font-weight: bolder;
  font-size: 50px;
  text-transform: uppercase;
}

#seconds, #tens {
  font-size: 70px;
}

button {
background:#040403;
color: #fff;
border: solid 1px #fff;
text-decoration: none;
cursor: pointer;
font-family: Calibri;
font-size: 25px;
padding: 18px 10px;
width: 180px;
margin: 10px;
 outline: none;
}